$--primary-base: #4D1BFF;
$--primary-100: #EEEDFF;
$--primary-200: #C5C0FF;
$--primary-300: #9C92FF;
$--primary-400: #7561FF;
$--primary-500: #4D1BFF;
$--primary-600: #2F00B0;
$--primary-700: #14005D;

$--secondary-base: #1BD9FF;

$--grey-base: #0F0A1F;
$--grey-100: #FFFFFF;
$--grey-200: #3F3B4C;
$--grey-300: #363143;
$--grey-400: #2C283A;
$--grey-500: #221D31;
$--grey-600: #181428;
$--grey-700: #0F0A1F;


$--glass-blur: 8px;
$--mesh-offset: 2px;
$--mesh-opacity: rgba(0, 0, 0, 0.69);

@mixin setColorClasses($color, $name) {
  body {
    .text-#{$name} {
      color: $color !important;
    }
    .border-#{$name} {
      border: 1px solid $color !important;
    }
  
    .bg-#{$name} {
      background-color: $color !important;
    }
  }
}

@each $color, $name in (
  $--primary-base: primary-base,
  $--primary-100: primary-100,
  $--primary-200: primary-200,
  $--primary-300: primary-300,
  $--primary-400: primary-400,
  // $--primary-500: primary-500,
  $--primary-600: primary-600,
  $--primary-700: primary-700,

  $--secondary-base: secondary,

  $--grey-base: grey-base,
  $--grey-100: grey-100,
  $--grey-200: grey-200,
  $--grey-300: grey-300,
  $--grey-400: grey-400,
  $--grey-500: grey-500,
  $--grey-600: grey-600,
  // $--grey-700: grey-700
) {
  @include setColorClasses($color, $name);
}