$--primary-base: #4D1BFF;
$--primary-100: #EEEDFF;
$--primary-200: #C5C0FF;
$--primary-300: #9C92FF;
$--primary-400: #7561FF;
$--primary-500: #4D1BFF;
$--primary-600: #2F00B0;
$--primary-700: #14005D;

$--secondary-base: #1BD9FF;

$--grey-base: #0F0A1F;
$--grey-100: #FFFFFF;
$--grey-200: #3F3B4C;
$--grey-300: #363143;
$--grey-400: #2C283A;
$--grey-500: #221D31;
$--grey-600: #181428;
$--grey-700: #0F0A1F;
